/*Style Reset*/

button {
  cursor: pointer;
  border-color: white;
  padding: 0;
  border-radius: 0px;
}
button:focus {
  outline: none;
}
body, p {
  margin: 0px;
}
.outline {
  font-family: sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0.03em #2f4f4f;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
label {
  border: 0.05em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Hidden and Exit classes*/

.hidden {
  display: none !important;
}
.exit {
  width: 60%;
  height: 21%;
  font-size: 2em;
  background-color: black;
  color: white;
}

/*Player Container*/

#playersContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

/*Player*/

#playersContainer > div {
  height: 50vh;
  display: flex;
  transition: all 0.5s ease-in-out;
  border: 0.3em white solid;
  box-sizing: border-box;
}
.lifeButtons {
  background-color: inherit;
  display: flex;
  font-size: 5em;
  justify-content: center;
  width: 50%;
  height: 100%;
}
#playersContainer button:not(.lifeButtons){
  width: 25%;
  height: 100%;
  background-color: inherit;
  border-color: white;
  border-width: 0.4em;
  border-top: 0px;
  border-bottom: 0px;
  box-sizing: border-box;
}

/*modals*/

#modalBackground {
   position: absolute;
   width: 100vw;
   height: 100vh;
   top: 0px;
   left: 0px;
   z-index: 9998;
   background: rgba(0, 0, 0, 0.4);
}
[id^=modalWindow] {
   text-align: center;
   position: absolute;
   width: 85vw;
   height: 85vh;
   margin-top: 7.5vh;
   margin-left: 7.5vw;
   z-index: 9999;
   background: darkgrey;
}

/* life modal */

#lifeExit {
  width: 100%;
  height: 20%;
  font-size: 3em;
  background-color: black;
  color: white;
}
#modalWindowLife {
  display: flex;
}
#modalWindowLife > div {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
#modalWindowLife button {
  width: 100%;
  font-size: 2em;
  height: 33.33%;
}
#modalLifeDisplay {
  font-size: 9em;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 55%;
}
#headlines {
  text-align: left;
  margin: -1% 0% 0% 1.5%;
}

/* commander damage modal */

#modalWindowCmd {
  font-weight: bold;
  font-family: fantasy;
}

#castCount  + label {
  background: white;
}
#castCount + label, #poison + label {
  width: 60%;
  height: 33%;
  margin: 2%;
  font-size: 2em;
  margin-bottom: 10%;
}
#currentPlayer {
  font-size: 1.5em;
  margin: 1%;
  height: 10%;
}
#cmdContainer {
  width: 50%;
  margin-left: 5%;
}
#cmdInnerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  justify-content: space-around;
}
#cmdPlusMinus {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cmdPlusMinus > button {
  height: 20%;
  width: 80%;
  margin: 5% 0 5% 0;
  color: white;
  background: black;
  font-size: 2em;
  font-weight: bold;
}
#cmdPoisonContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#poison + label {
  background: lightgreen;
}
#cmdCastCount + label {
  width: 60%;
  height: 20%;
  margin: 2%;
  background: white;
}
.commanderDamage {
  flex-grow: 1;
   width: 30%;
   margin: 1.5%;
   font-size: 2.5em;
}
#cmdExit {
  height: 30%;
}

.headline {
  font-size: 1.2em;
  font-weight: bold;
}
#flexContainer {
  display: flex;
  height: 80%;
}


/* utilities modal */
#modalWindowUtility {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#modalWindowChangeColor > p {
  font-size: 1.2em;
  font-weight: bold;
}
.choosePlayerButtons {
  font-size: 2em;
  width: 10%;
  height: 20%;
  margin: 2% 0.5% 2% 0.5%;
}
.utiliBtns {
  height: 60%;
  width: 18%;
  font-size: 1.2em;
  margin: 2% 1% 1% 1%;
  background-color: white;
  display: block;
}
.colorMenu {
  background-color: white;
  padding: 1%;
  font-size: 1.1em;
  margin: 1%;
  height: 15%;
}
.menuSelected {
  background-color: black;
  color: white;
}
#allColorContainer {
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.allColors {
  /*display: inline-block;*/
  border: 0.1em solid black;
  width: 15%;
  height: 35%;
  margin: 0.5% 1% 0.5% 1%;
  font-size: 2em;
  cursor: pointer;
}
input[type=radio] {
  visibility: hidden;
  position: absolute;
}
input[type=radio]:checked + label {
  border-color: white;
}
#choosePlayerExit {
  background-color: black;
  color: white;
  font-size: 2em;
  width: 15%;
  height: 20%;
  margin: 2% 0.5% 2% 0.5%;
}

/*dice modal*/

modalWindowDice {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dice {
  width: 20%;
  height: 20%;
  background: black;
  color: white;
  margin: 1%;
  font-size: 2em;
}
.selectedDice {
  background: white;
  color: black;
}
#exitDice {
  background-color: white;
  color: black;
  width: 20%;
  height: 20%;
  margin: 1%;
  font-size: 2em;
}
/* gear button */

#gearBtn {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 15vh;
   height: 15vh;
   border: 0;
   background-size: contain;
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/Gear_icon-72a7cf.svg");
   background-repeat: no-repeat;
   background-color: white;
   background-blend-mode: difference;
}
