/*     */
/* TOC */
/*     */

/* Resets and General Rules -- 32 */
/* Layout -- 68 */
/* Skin -- 340 */
/* State -- 485 */
/* Media Queries -- 512 */

/* latin-ext */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(Berkshire_Swash/BerkshireSwash.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'), url(Berkshire_Swash/BerkshireSwash2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/*                          */
/* Resets and General Rules */
/*                          */

input[type=radio], input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
body {
  overflow: hidden;
}
button {
  background-color: whitesmoke;
  padding: 0;
  border-radius: 0;
  border-width: 0;
}
button:focus {
  outline: 0;
}
body, p {
  margin: 0;
}
canvas {
  z-index: 9;
  top: 0;
  position: absolute;
}
label {
  border: 0.05em solid black;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*        */
/* Layout */
/*        */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.flex-align {
  align-items: center;
}
.grid {
  display: grid;
  grid-gap: 4px;
}
.grid-child-one {
  grid-area: one;
}
.grid-child-two {
  grid-area: two;
}
.grid-child-three {
  grid-area: three;
}
.grid-child-four {
  grid-area: four;
}
.grid-child-five {
  grid-area: five;
}
.grid-child-six {
  grid-area: six;
}

.l-full {
  width: 100%;
  height: 100%;
}
.l-full-abs {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.l-full-w {
  width: 100%;
}

.l-78vh-p {
  height: 78vh;
  padding: 1%;
  box-sizing: border-box;
}
.l-50vh {
  height: 50vh;
}

.l-85h {
  height: 85%;
  width: 100%;
}
.l-66h {
  height: 66.66%;
  width: 100%;
}
.l-50h {
  height: 50%;
  width: 100%;
}
.l-33h {
  height: 33.33%;
  width: 100%;
}
.l-15h {
  height: 15%;
  width: 100%;
}

.l-98w {
  height: 100%;
  width: 98%;
}
.l-75w {
  width: 75%;
  height: 100%;
}
.l-50w {
  width: 50%;
  height: 100%;
}
.l-42w {
  width: 42%;
  height: 100%;
}
.l-30w {
  width: 30%;
  height: 100%;
}
.l-25w {
  width: 25%;
  height: 100%;
}

/* padding & margin */
.l-padding-box {
  padding: 1.5%;
  box-sizing: border-box;
}
.l-bottom-p {
  padding-bottom: 1%;
  box-sizing: border-box;
}
.l-margin-b {
  margin-bottom: 5%;
}

/* buttons */
.l-half-btn {
  width: 90%;
  height: 48%;
  margin: 1%;
}
.l-middle-btn {
  width: 80%;
  height: 20%;
  margin: 3%;
}
.l-big-btn {
  width: 18%;
  height: 60%;
  margin: 2% 1% 1% 1%;
  display: block;
}
.l-squat-btn {
  width: 15%;
  height: 35%;
  margin: 0.5% 1% 0.5% 1%;
}
.l-short-btn {
  padding: 1%;
  margin: 1%;
  height: 15%;
}
.l-btn-row {
  flex-grow: 1;
  max-width: 30%;
  height: 20%;
  margin: 2% 0.5% 2% 0.5%;
}

/* player boxes (cmd modal & mass life change modal) */
.l-player-box {
  position: relative;
  flex-grow: 1;
  z-index: 2;
  width: 30%;
  margin: 1.5%;
}
.l-player-number::before {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 0.12em;
  width: 3vw;
  height: 2.5vw;
}

/* specific things (in DOM order) */
.l-mainIcons {
  width: 55%;
}
.l-modal {
   position: absolute;
   width: 85vw;
   height: 85vh;
   margin-top: 7.5vh;
   margin-left: 7.5vw;
   z-index: 9999;
}
#l-lifeHistoryDisplay {
  position: relative;
  padding: 3%;
  box-sizing: border-box;
  overflow-y: scroll;
}
.l-modal-tall {
  height: 90vh;
  margin-top: 5vh;
}
#l-currentPlayer {
  height: 8vh;
  margin: 1vh;
  padding: 1vh;
}
.l-checkbox-p {
  position: absolute;
  top: 0.5vh;
  left: 0.5vh;
  height: 6.5vh;
  padding: 1vh;
  margin: 1vh;
}
.l-cmd-partner-cont {
  position: relative;
  width: 35vw;
  height: 64vh;
  margin-bottom: 1.2vh;
  flex-grow: 1;
}
.l-partners {
  position: absolute;
  top: 2%;
  left: 2%;
}
.l-cmd-partner-bg {
  position: absolute;
  z-index: -3;
  height: 102%;
  width: 100%;
  top: 0%;
}
.l-otherCounters {
  height: 25%;
  width: 90%;
}
.l-otherCounters label {
  width: 100%;
  flex-grow: 1;
}
#l-utiliExit {
  width: 60%;
  height: 20%;
}
#l-utiliRotate {
  margin-left: 5%;
  width: 16vh;
  height: 17vh;
}
.l-gradient-btn {
  height: 10vh;
  padding: 1%;
  margin: 1%;
}
.l-dice {
  width: 20%;
  height: 20%;
  margin: 1%;
}
#l-clearExcluded {
  width: 70%;
  height: 8vh;
}
#l-gearBtn {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 15vh;
   height: 15vh;
}
#l-gearBtn > img {
  width: 15vh;
}


/*      */
/* Skin */
/*      */

/* font */
.dbl-font {
  font-size: 2em;
}
.three-halves-font {
  font-size: 1.5em;
}
.large-font {
  font-size: 1.2em;
}
.text-align {
  text-align: center;
}
.monospace {
  font-family: monospace;
}
.headline {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Berkshire Swash", cursive;
}
.small-headline {
  font-family: "Berkshire Swash", cursive;
  font-size: 0.9em;
}
.outline {
  font-family: sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0.03em #2f4f4f;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* exit buttons */
.exit {
  background-color: red;
  color: white;
  font-size: 2em;
  border: 0.1em white solid;
}
/* rotate buttons */
.rotate {
  background-color: transparent;
  background-image: url(img/rotate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.7em transparent solid;
}

#modalBackground {
  background: rgba(0, 0, 0, 0.6);
}
.dark-grey-bg {
  background-color: darkgrey;
}
.whitesmoke {
  background-color: whitesmoke
}
#experience + label {
  background: yellow;
}
#poison + label {
  background: lightgreen;
}
#energy + label {
  background: purple;
}

.transition {
  transition: all 0.5s ease-in-out;
}
.vert-text {
  font-size: 0.9em;
  line-height: 0.9em;
}
.half-btn {
  border: 1px grey solid;
  background: inherit;
}

/* specific things */
.playerName {
  font-family: 'Berkshire Swash', cursive;
  background: white;
  opacity: 0.7;
  text-align: center;
}
.lifeButtons {
  background-color: inherit;
}
/* cmd and rotate btns */
.top-btn {
  background: inherit;
  border-color: white;
  border-width: 0 0 0 4px;
}
.bottom-btn {
  background: inherit;
  border-color: white;
  border-width: 4px 0 0 4px;
}
.plusMinus, .doubleHalve {
  font-size: 2em;
  border: 0.07em #65737E solid;
  border-left: 0;
  border-right: 0;
}
.player-btn {
  border-width: 0.09em;
}
.player-number::before {
  content: attr(data-attr);
  font-size: 0.35em;
  background-color: white;
  -webkit-text-stroke: 0;
  color: black;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
}
.colorMenu {
  background-color: whitesmoke;
}
.allColors {
  border: 0.1em solid black;
  font-size: 3em;
}
#netChange {
  font-size: 7em;
  flex-grow: 1;
}
#canvasBg {
  background-color: darkslategrey;
}

/*        */
/* States */
/*        */

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.behind {
  opacity: .33;
  z-index: -2 !important;
}
input[type=radio]:checked + label {
  border-color: yellow;
}
input[type=checkbox]:checked + label {
  background: white !important;
  font-weight: bold;
}
/* sometimes state, sometimes not */
.invert-btn {
  background: black !important;
  color: white;
}

/*               */
/* Media Queries */
/*               */

@media screen and (min-width : 900px) {
  body {
    font-size: 1.6em;
  }
}
