/*Style Reset*/

button {
  /*border: solid black 1px;*/
  background-color: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}
body {
  margin: 0px;
  /*this is for mobile testing*/
  font-size: 8px;
}
/*Hidden and Exit classes*/

.hidden {
  display: none !important;
}
.exit {
  width: 60%;
  height: 15%;
  font-size: 3em;
  background-color: black;
  color: white;
}

/*Player Container*/

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

/*Player*/

/*selecting all ids starting with 'player'*/
[id^=player] {
  width: 50vw;
  height: 50vh;
  display: flex;
  transition: all 0.5s ease-in-out;
}
[id^=life] {
  font-size: 8em;
  margin: 0% 0.5% 0% 0.5%;
  border-left: 0;
  border-right: 0;
  width: 50%;
  height: 100%;
}
[id^=cmdBtn], [id^=rotate] {
  width: 25%;
  height: 100%;
}

/*modals*/

#modalBackground {
   position: absolute;
   width: 100vw;
   height: 100vh;
   top: 0px;
   left: 0px;
   z-index: 9998;
   background: rgba(0, 0, 0, 0.4);
}
[id^=modalWindow] {
   text-align: center;
   position: absolute;
   width: 75vw;
   height: 75vh;
   margin-top: 12vh;
   margin-left: 12vw;
   z-index: 9999;
   background: darkgrey;
}

/* life modal */

#lifeExit {
  width: 100%;
  height: 20%;
  font-size: 3em;
  margin-top: 2em;
  background-color: black;
  color: white;
}
.plusMinus, #double, #halve {
  width: 33%;
  height: 33%;
}
#modalWindow {
  display: flex;
}
#plusButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#minusButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#modalLifeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#modalLife {
  font-size: 12em;
  margin: 0;
}
#plusButtons > button, #minusButtons > button {
  width: 100%;
  font-size: 3em;
}
.rotate, .cmdSymbol {
  width: 40%;
}

/* commander damage modal */


.commanderDamage {
   width: 10%;
   height: 20%;
   margin: 2% 1% 2.5% 1%;
   font-size: 2em;
   border: .1em solid black;
}
#currentPlayer {
  font-size: 1.5em;
  margin-bottom: -0.5%;
}
[id^=cmdSlider] {
   top: 35%;
   left: 12.2%;
   position: absolute;
   -webkit-appearance: none;
   appearance: none;
   width: 75%;
   height: 5.1%;
   border: .3em black solid;
   margin-bottom: -50%;
}
/* this is only used on poison */
.headline {
  font-size: 2em;
  font-weight: bold;
  margin-top: 9%;
  margin-bottom: 0.5%;
}
#poisonSlider {
   -webkit-appearance: none;
    appearance: none;
    width: 75%;
    height: 5%;
    border: .3em black solid;
    background: #66cc1a;
    margin-bottom: 4%;
}
#poisonSlider::-webkit-slider-thumb, [id^=cmdSlider]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 4%;
    border: black 1% solid;
    background: black;
    cursor: pointer;
}
#poisonSlider::-moz-range-thumb, [id^=cmdSlider]::-moz-range-thumb {
  height: 1em;
  width: 4%;
  border: black 1% solid;
  background: black;
  cursor: pointer;
}

/* utilities modal */
#modalWindow3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#modalWindow4 > p {
  font-size: 1.2em;
  font-weight: bold;
}
.utiliBtns {
  height: 60%;
  width: 18%;
  font-size: 1.8em;
  margin: 2% 1% 1% 1%;
  background-color: white;
  display: block;
}
.allColors {
  display: inline-block;
  border: 2px solid white;
  width: 2.5em;
  height: 2.5em;
  margin: 0.5%;
  font-size: 2em;
  cursor: pointer;
}
.allColors:hover {
  border-color: black;
}
input[type=radio] {
  visibility: hidden;
}
input[type=radio]:checked + label {
  border-color: pink;
}

/* gear button */

#gearBtn {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 5vh;
   height: 5vh;
   border: 0;
   background-size: contain;
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/Gear_icon-72a7cf.svg");
   background-repeat: no-repeat;
   background-color: black;
   background-blend-mode: difference;
}
#fullButt {
  position: fixed;
  top: 48%;
  left: 5%;
  width: 5vh;
  height: 5vh;
  background-color: black;
}
